<form [formGroup]="userForm">
    <label>Name</label>
    <input type="text" formControlName="name" />
    <div *ngIf="userForm.get('name').untouched == false">
        <span *ngIf="userForm.get('name').hasError('required')">Name is required</span>
    </div>

    <label>Age</label>
    <input type="text" formControlName="age" />

    <div formGroupName="address">
        <label>City</label>
        <input type="text" formControlName="city" />

        <label>Pincode</label>
        <input type="text" formControlName="pincode" />
        <div *ngIf="userForm.get('address').get('pincode').touched">
            <span *ngIf="userForm.get('address').get('pincode').hasError('zipCode')">Allowed pincode are
                {{userForm.get('address').get('pincode').getError('zipCode').allowed}}</span>
        </div>
    </div>

    <button>Submit</button>
</form>

<!-- For testing -->
<pre>
{{ userForm.value | json }}
</pre>

<pre>
{{ userForm.get('address').get('pincode').errors | json }}
</pre>
